<div layout="column" align="end">
<div layout="column" layout-align="space-around center">
<!--RightSidenavigation -->
<md-sidenav md-component-id="right" md-is-open="isSidenavOpen" class="md-sidenav-right">
<md-toolbar class="md-tall md-hue-2">
            <div layout="column" layout-align="center center"  class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="80" style="margin-top: 10px;">
                        <div>Filters</div>
                    </div>
                </div>
            </div>
</md-toolbar>
<md-list>
<div layout="column"  layout-align="space-around stretch">
<div layout="row" layout="center">
<div class="inset" layout="center" class="md-padding" ng-cloak>
    <ng-md-icon icon="description"></ng-md-icon>
</div>
<md-select id="mg-courseSelector" ng-change="onCourseSelectValueChange(ddlvalue)"  data-ng-model="ddlvalue"  placeholder="Select courses"
                   md-on-close="clearSearchTerm()" md-on-open="loadCourses()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple flex style="text-align: center;">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Courses"
                   class="demo-header-searchbox _md-text" layout="center center">
          </md-select-header>
          <md-optgroup label="courses">
            <md-option ng-value="course" ng-repeat="course in courses">{{course.name}}</md-option>
          </md-optgroup>
    </md-select>
 </div>

 <div layout="row" layout="center">
<div class="inset" layout="center" class="md-padding" ng-cloak>
    <ng-md-icon icon="description"></ng-md-icon>
</div>
<md-select id="mg-courseSelector" ng-change="onBoardSelectValueChange(ddlvalue1)"  data-ng-model="ddlvalue1"  placeholder="Select Board"
                   md-on-close="clearSearchTerm()" md-on-open="loadBoards()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple flex style="text-align: center;">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Boards"
                   class="demo-header-searchbox _md-text" layout="center center">
          </md-select-header>
          <md-optgroup label="boards">
            <md-option ng-value="board" ng-repeat="board in boards">{{board.name}}</md-option>
          </md-optgroup>
    </md-select>
 </div>



 <div layout="row" layout="center">
<div class="inset" layout="center" class="md-padding" ng-cloak>
    <ng-md-icon icon="description"></ng-md-icon>
</div>
<md-select id="mg-courseSelector" ng-change="onGradeSelectValueChange(ddlvalue2)"  data-ng-model="ddlvalue2"  placeholder="Select Grade"
                   md-on-close="clearSearchTerm()" md-on-open="loadGrades()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple flex style="text-align: center;">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Grade"
                   class="demo-header-searchbox _md-text" layout="center center">
          </md-select-header>
          <md-optgroup label="grades">
            <md-option ng-value="grade" ng-repeat="grade in grades">{{grade.name}}</md-option>
          </md-optgroup>
    </md-select>
 </div>

 <div layout="row" layout="center">
<div class="inset" layout="center" class="md-padding" ng-cloak>
    <ng-md-icon icon="description"></ng-md-icon>
</div>
<md-select id="mg-courseSelector" ng-change="onSubjectSelectValueChange(ddlvalue3)"  data-ng-model="ddlvalue3"  placeholder="Select Subject"
                   md-on-close="clearSearchTerm()" md-on-open="loadSubjects()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple flex style="text-align: center;">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Boards"
                   class="demo-header-searchbox _md-text" layout="center center">
          </md-select-header>
          <md-optgroup label="subjects">
            <md-option ng-value="subject" ng-repeat="subject in subjects">{{subject.name}}</md-option>
          </md-optgroup>
    </md-select>
 </div>

 <div layout="row" layout="center center">
                <div class="inset" layout="center">
                    <ng-md-icon icon="people"></ng-md-icon>
                </div>
            <md-select  ng-change="onUserSelectValueChange(ddlvalue4)"  data-ng-model="ddlvalue4" placeholder="Select users"
                   md-on-close="clearSearchTerm()" md-on-open="loadUsers()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple flex style="text-align: center;">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a Users"
                   class="demo-header-searchbox _md-text">
          </md-select-header>

          <md-optgroup label="users">
            <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
          </md-optgroup>
        </md-select>
</div>
<div layout="row" layout="center">
  <md-datepicker class="datePickerHolder" ng-model="startDate"  md-placeholder="Enter start date"></md-datepicker>
</div>
<div layout="row" layout="center center">
  <md-datepicker ng-model="endDate" md-placeholder="Enter end date"></md-datepicker>
</div>
  <md-button class="md-raised"  layout-align="center center" ng-click="submit();openLeftMenu()">Apply</md-button>
</div>
</md-list>
</md-sidenav>
  </div>
<div layout="row" layout-align="center">
   <h1>{{ViewCountName}}</h1>
</div>
    <md-content>
            <md-button class="md-raised md-warn" ng-click="openLeftMenu()">
             Filter
            </md-button>
  </md-content>
  </div>
  <div  layout="row"       layout-align="start center">
  <div layout="row" layout-wrap  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6">
  <div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
  </div>
  <div layout="row" layout-wrap  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6">
  <div google-chart chart="chartObject1" style="height:600px; width:100%;"></div>
  </div>
   <div layout="row" layout-wrap  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6">
  <div google-chart chart="chartObject2" style="height:600px; width:100%;"></div>
  </div>
</div>